$o-brand-blue					: #1aa6be;
$o-brand-blue-dark				: #118b9f;
$o-brand-black					: #333;
$o-brand-grey					: #e6e6e6;

/* General colors */
$brand-primary 					: $o-brand-blue; 		
$o-im-status-available-color	: #4fba3c;		/* style guide */
$o-course-node-published		: #4fba3c;		/* style guide */

$text-color						: $o-brand-black;
$link-color						: #1aa6be;	/* style guide */
$link-hover-color				: #016272;	/* style guide */
$o-content-link-decoration		: none;		/* style guide */

$headings-color					: $o-brand-black;
$o-content-header-base-color	: $headings-color;
$o-content-fieldset-legend-color: $headings-color;
$o-dialog-header-color			: $headings-color;
$jumbotron-heading-color		: $headings-color;
$o-login-header-color			: $headings-color;
$o-coursesite-meta-title-color	: $headings-color;

/* Login screen */
$o-login-form-align				: center;
$o-login-form-bg-img 			: "images/login-bg.jpg";

$o-coursesite-details-bg		: #e6e6e6;  /* style guide */
$o-coursesite-details-color		: #333;  	/* style guide */

/* Course and catalog grid */
$o-coursesite-catalog-border	: #cdcdcd;	/* style guide */
$o-coursesite-rowelem-border 	: #cdcdcd;	/* style guide */

/* Font family */
$font-family-base				: "Source Sans Pro", sans-serif; 
$headings-font-family			: inherit;

/* Navbar */
$o-navbar-color						: #333;  	/* style guide */
$o-navbar-bg						: #e6e6e6;  /* style guide */
$o-navbar-border-color				: darken($o-navbar-bg, 10%) ;
$o-navbar-link-color				: #333;  	/* style guide */
$o-navbar-link-hover-color			: #1aa6be;	/* style guide */
$o-navbar-link-hover-bg 			: transparent ;
$o-navbar-link-active-color 		: #333;  	/* style guide */
$o-navbar-link-active-bg 			: transparent;
$o-navbar-link-disabled-color 		: #444;
$o-navbar-link-disabled-bg 			: transparent ;
$o-navbar-tools-permanent-color		: #333;  	/* style guide */

/* Footer */
$o-footer-height					: 80px;
$o-footer-outer-bg 					: #e6e6e6;  /* style guide */
$o-footer-inner-bg 					: #e6e6e6;  /* style guide */
$o-footer-default-color 			: $o-navbar-link-color;
$o-footer-default-link-color 		: $o-navbar-link-color;
$o-footer-default-link-hover-color 	: $o-navbar-link-hover-color;

/* Menu tree */
$o-tree-bg						: none;
$o-tree-link-color 				: #777;			/* style guide */
$o-tree-link-bg					: none;
$o-tree-link-hover-color 		: #1aa6be;		/* style guide */
$o-tree-link-hover-bg			: #f8f8f8;		/* style guide */
$o-tree-link-active-color 		: #777;			/* style guide */
$o-tree-link-active-bg			: #e6e6e6;		/* style guide */
$o-tree-link-active-hover-color : #777;
$o-tree-link-active-hover-bg	: #e6e6e6;
$o-tree-link-active-font-weight	: bold;			/* style guide */
$o-tree-link-active-parent-color 			: #777;			/* style guide */
$o-tree-link-active-parent-hover-color 		: #1aa6be;		/* style guide */
$o-tree-link-active-parent-font-weight		: bold;			/* style guide */

/* Drop down menus */
$dropdown-link-color:            #777;			/* style guide */
$dropdown-link-hover-color:      #1aa6be;		/* style guide */
$dropdown-link-hover-bg:         #f8f8f8;		/* style guide */
$o-toolbar-link-color:            #777;			/* style guide */
$o-toolbar-link-hover-color:      #1aa6be;		/* style guide */
