@charset "UTF-8";

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/SourceSansPro-Regular-webfont.eot');
    src: url('fonts/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
    url('fonts/SourceSansPro-Regular-webfont.woff') format("woff"),
    url('fonts/SourceSansPro-Regular-webfont.ttf') format('truetype'),
    url('fonts/SourceSansPro-Regular-webfont.svg#Miso') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/SourceSansPro-Bold-webfont.eot');
    src: url('fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('fonts/SourceSansPro-Bold-webfont.woff') format("woff"),
    url('fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
    url('fonts/SourceSansPro-Bold-webfont.svg#Miso') format('svg');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/SourceSansPro-Bold-webfont.eot');
    src: url('fonts/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('fonts/SourceSansPro-Bold-webfont.woff') format("woff"),
    url('fonts/SourceSansPro-Bold-webfont.ttf') format('truetype'),
    url('fonts/SourceSansPro-Bold-webfont.svg#Miso') format('svg');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/SourceSansPro-It-webfont.eot');
    src: url('fonts/SourceSansPro-It-webfont.eot?#iefix') format('embedded-opentype'), 
    url('fonts/SourceSansPro-It-webfont.woff') format("woff"),
    url('fonts/SourceSansPro-It-webfont.ttf') format('truetype'),
    url('fonts/SourceSansPro-It-webfont.svg#Miso') format('svg');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/SourceSansPro-BoldIt-webfont.eot');
    src: url('fonts/SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'), 
    url('fonts/SourceSansPro-BoldIt-webfont.woff') format("woff"),
    url('fonts/SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
    url('fonts/SourceSansPro-BoldIt-webfont.svg#Miso') format('svg');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('fonts/SourceSansPro-BoldIt-webfont.eot');
    src: url('fonts/SourceSansPro-BoldIt-webfont.eot?#iefix') format('embedded-opentype'), 
    url('fonts/SourceSansPro-BoldIt-webfont.woff') format("woff"),
    url('fonts/SourceSansPro-BoldIt-webfont.ttf') format('truetype'),
    url('fonts/SourceSansPro-BoldIt-webfont.svg#Miso') format('svg');
    font-style: italic;
    font-weight: 500;
}

/*********************************************************************************************/
/* LMSUZH-319: Include jsMath Fonts as a workaround for Firefox - but does not render reliably
/*********************************************************************************************/

@font-face {
  font-family: "jsMath-cmbx10";
  src: url('fonts/jsMath-cmbx10.ttf') format('truetype');
}

@font-face {
  font-family: "jsMath-cmex10";
  src: url('fonts/jsMath-cmex10.ttf') format('truetype');
}

@font-face {
  font-family: "jsMath-cmmi10";
  src: url('fonts/jsMath-cmmi10.ttf') format('truetype');
}

@font-face {
  font-family: "jsMath-cmr10";
  src: url('fonts/jsMath-cmr10.ttf') format('truetype');
}

@font-face {
  font-family: "jsMath-cmsy10";
  src: url('fonts/jsMath-cmsy10.ttf') format('truetype');
}

@font-face {
  font-family: "jsMath-cmti10";
  src: url('fonts/jsMath-cmti10.ttf') format('truetype');
}