/*********************************************************************************/
/* Style fixes for
/* SOREL https://lms.uzh.ch/url/RepositoryEntry/1227096085
/* SOREL français https://lms.uzh.ch/url/RepositoryEntry/8053325825
/*********************************************************************************/

body[data-repositoryentry="1227096085"] input.itemRadio,
body[data-repositoryentry="8053325825"] input.itemRadio {
   margin:4px;
}

body[data-repositoryentry="1227096085"] #topnav,
body[data-repositoryentry="8053325825"] #topnav {
    float: right;
}

body[data-repositoryentry="1227096085"] #footer,
body[data-repositoryentry="8053325825"] #footer {
    padding: 6px;
}

body[data-repositoryentry="1227096085"] .footer,
body[data-repositoryentry="8053325825"] .footer {
    line-height: 2em;
}

body[data-repositoryentry="1227096085"] .level2,
body[data-repositoryentry="8053325825"] .level2 {
    margin-left: 0;
    padding-left: 0;
}

body[data-repositoryentry="1227096085"] h4,
body[data-repositoryentry="8053325825"] h4,
body[data-repositoryentry="1227096085"] div.itemLabel,
body[data-repositoryentry="8053325825"] div.itemLabel,
body[data-repositoryentry="1227096085"] div.itemQuestion,
body[data-repositoryentry="8053325825"] div.itemQuestion,
body[data-repositoryentry="1227096085"] .buttonCheck,
body[data-repositoryentry="8053325825"] .buttonCheck,
body[data-repositoryentry="1227096085"] .buttonCheck_hover,
body[data-repositoryentry="8053325825"] .buttonCheck_hover,
body[data-repositoryentry="1227096085"] .buttonSolution,
body[data-repositoryentry="8053325825"] .buttonSolution,
body[data-repositoryentry="1227096085"] .buttonSolution_hover,
body[data-repositoryentry="8053325825"] .buttonSolution_hover,
body[data-repositoryentry="1227096085"] .buttonSolution_disabled,
body[data-repositoryentry="8053325825"] .buttonSolution_disabled {
    font-size: medium;
}

/*********************************************************************************/
/* Style fixes for
/* CareOL Austausch https://lms.uzh.ch/url/RepositoryEntry/586612738
/* CareOL BGS Austausch https://lms.uzh.ch/url/RepositoryEntry/439353360
/* CareOL BGS Home https://lms.uzh.ch/url/RepositoryEntry/684097555
/* CareOL BZGS 10-OT https://lms.uzh.ch/url/RepositoryEntry/11280089094
/* CareOL BZGS 10BMA https://lms.uzh.ch/url/RepositoryEntry/11280089096
/* CareOL BZGS 11-OT https://lms.uzh.ch/url/RepositoryEntry/13617922063
/* CareOL BZGS 11BMA https://lms.uzh.ch/url/RepositoryEntry/13663305730
/* CareOL BZGS 8-OT https://lms.uzh.ch/url/RepositoryEntry/6185353217
/* CareOL BZGS 8BMA https://lms.uzh.ch/url/RepositoryEntry/6185353216
/* CareOL BZGS 9-OT https://lms.uzh.ch/url/RepositoryEntry/8749056007
/* CareOL BZGS 9BMA https://lms.uzh.ch/url/RepositoryEntry/8749056008
/* CareOL CBZ BMA https://lms.uzh.ch/url/RepositoryEntry/768835584
/* CareOL CBZ HF Pflege https://lms.uzh.ch/url/RepositoryEntry/627310604
/* CareOL CBZ MTR https://lms.uzh.ch/url/RepositoryEntry/725516293
/* CareOL CBZ OT https://lms.uzh.ch/url/RepositoryEntry/12042698752
/* CareOL CDH https://lms.uzh.ch/url/RepositoryEntry/1402961935
/* CareOL Demo https://lms.uzh.ch/url/RepositoryEntry/4403331073
/* CareOL E-Books Test https://lms.uzh.ch/url/RepositoryEntry/12859572224
/* CareOL Helga https://lms.uzh.ch/url/RepositoryEntry/283410454
/* CareOL Helga II https://lms.uzh.ch/url/RepositoryEntry/448659468
/* CareOL HF Pflege BB https://lms.uzh.ch/url/RepositoryEntry/14827847688
/* CareOL Literatur https://lms.uzh.ch/url/RepositoryEntry/12621742080
/* Die Lernplattform "CareOL" https://lms.uzh.ch/url/RepositoryEntry/5046534146
/* Schulung_CareOL_CBZ https://lms.uzh.ch/url/RepositoryEntry/3910336514
/*********************************************************************************/

body[data-repositoryentry="586612738"],
body[data-repositoryentry="439353360"],
body[data-repositoryentry="684097555"],
body[data-repositoryentry="11280089094"],
body[data-repositoryentry="11280089096"],
body[data-repositoryentry="13617922063"],
body[data-repositoryentry="13663305730"],
body[data-repositoryentry="6185353217"],
body[data-repositoryentry="6185353216"],
body[data-repositoryentry="8749056007"],
body[data-repositoryentry="8749056008"],
body[data-repositoryentry="768835584"],
body[data-repositoryentry="10518528"],
body[data-repositoryentry="725516293"],
body[data-repositoryentry="12042698752"],
body[data-repositoryentry="1402961935"],
body[data-repositoryentry="4403331073"],
body[data-repositoryentry="12859572224"],
body[data-repositoryentry="283410454"],
body[data-repositoryentry="448659468"],
body[data-repositoryentry="14827847688"],
body[data-repositoryentry="12621742080"],
body[data-repositoryentry="5046534146"],
body[data-repositoryentry="3910336514"] {

}

/*********************************************************************************/